<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.selectbymap.dao.IStudentDao">
    <resultMap id="studentMapper" type="Student">
        <id column="tid" property="id"/>
        <result column="tname" property="name"/>
        <result column="tage" property="age"/>
    </resultMap>

    <select id="selectStuByCondition" resultMap="studentMapper">
      select tid, tname,tage,score
      from student
      <!-- 参数为map的key -->
      where tname like concat('%',#{name},'%') and tage > #{age} and score>#{stu.score}
    </select>

</mapper>