<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xxx">
    <insert id="insertStudent" parameterType="com.zx.beans.Student">
        insert into student(name, age, score, create_time)
        value(#{name},#{age},#{score},#{createTime});
    </insert>
</mapper>